

  .remote-container {
    position: relative;
    width: 800px; /* Adjust according to your image size */
    margin: 0 auto;
  }

  .remote-image {
    display: block;
    width: 100%;
  }


  .audio-button {
    position: absolute;
    border-radius: 50%;
    background-color: black; /* Set background color to black */
    color: white; /* Set font color to white * 
    width: 20px; // Adjust button size
    height: 20px; // Adjust button size
    border: auto; // none = android displaed round button, iOS/PC firefox displayed ecllips, not round shape
    cursor: pointer;
    // Adjust content alignment to center
    display: flex;
    justify-content: center;
    align-items: center;
   // z-index: 1; // Ensure buttons are above the image

  }
  
  .audio-button:hover {
    background-color: #00FFFF; // yellow
  }

